:root {
  --smaller: 0.75;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  margin-top: 3em;
}
body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: black;
}
.container {
  margin: 0 auto;
  text-align: center;
}

p {
  font-size: 2.5rem;
  color: black;
}
.far {
  font-size: 6rem;
  color: rgb(8, 8, 8);
}
h2 {
  font-weight: normal;
  font-size: 4rem;
}
.countdown {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 4rem;
  color: #0f0f0f;
}

.bg-gradient-1 {
  background: linear-gradient(
    45deg,
    rgba(180, 127, 178, 0.6),
    rgba(182, 89, 136, 0.979)
  );
}

.btn.outline {
  background: none;
  padding: 12px 22px;
  margin: 0.5rem;
  border: 2px solid #0f0f0f;
  color: rgb(3, 3, 3);
  width: auto;
}
.btn-primary.outline:hover,
.btn-primary.outline:focus,
.btn-primary.outline:active,
.btn-primary.outline.active,
.open > .dropdown-toggle.btn-primary {
  color: #151616;
  border-color: rgba(182, 89, 136, 0.979);
}

.btn-primary.outline:active,
.btn-primary.outline.active {
  border-color: #dbb5e2;
  color: #dbb5e2;
  box-shadow: none;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  li {
    font-size: calc(1.125rem * var(--smaller));
  }

  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
